/* Site-wide */
.body-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

/* Header */
.header {

}

.header-text {
    text-align: right;
}

/* Content */

.content-graphic {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-paragraph {
    text-indent: 2em;
}